/* Ensure the body margin is removed */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.topbar {
  display: flex;
  justify-content: space-between; /* Align items on opposite sides */
  align-items: center; /* Vertically center the text and div */
  padding: 10px 20px;
  background-color: #0a2540;
  color: white;
  width: 100%; /* Full width */
  height: 70px;
  position: fixed; /* Fixed to the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures it stays on top */
  box-sizing: border-box; /* Include padding in width/height calculations */
}

.title {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  white-space: nowrap; /* Prevents the text from wrapping */
  margin-left: 1rem; /* Controls left margin */
  margin-right: 1rem; /* Adding right margin to balance spacing */
}

.round-indicator {
  background-color: #ffffff;
  color: #181717;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth color transition */
  position: relative;
  left: 24rem; /* Adjusted right margin */
}

.round-indicator:hover {
  background-color: #cbcccf;
}

/* DARK MODE LIGHT MODE SWITCH */
.ui-switch {
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  left: 10rem;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,...");
  background-repeat: no-repeat;
  background-position: center center;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  transition: all 500ms;
  opacity: 0;
}

.ui-switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,...");
}

.ui-switch input:active + .slider .circle::before {
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

/* USER ICON STYLES */
.user-icon {
  font-size: 30px; /* Change this to adjust the size of the icon */
  color: white;
  position: relative;
  left: -60px; /* Add margin to move the icon to the left or right */
  transition: margin-left 0.3s ease; /* Smooth transition if you want to animate positioning */
}

/* To move the icon to the left */
.user-icon.move-left {
  margin-left: 0px;
}

/* To move the icon to the right */
.user-icon.move-right {
  margin-left: auto;
  margin-right: 20px;
}

/* CARDS */
.card-container {
  display: flex;
  justify-content: flex-end; /* Aligns the cards from right to left */
  gap: 10px; /* Optional: space between the cards */
  padding: 20px; /* Optional: adds padding to the container */
}

.card {
  width: 320px;
  height: 200px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-top: 120px;
  margin-left: 14px;
  position: relative;
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-header h2 {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  margin: 0;
  margin-left: 10px; /* Adjusts the h2's horizontal position */
  margin-top: 18px;
  position: relative;
  left: 26px; /* moves h2 to the right */
}

.card-header .icon {
  font-size: 20px;
  margin-left: 10px; /* Adjusts the icon's horizontal position */
  margin-top: 18px;
  position: relative;
  right: 26px; /* Moves the icon to the left */
}

/* Card body styles */
.card-body {
  display: flex;
  flex-direction: column; /* Ensures the content stacks vertically */
  /* justify-content: center; */
  align-items: flex-start; /* Aligns content to the left */
  margin-top: 10px; /* Optional: Adds spacing from the header */
}

.number {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
  position: relative;
  left: 34px;
  font-family: "Inter", sans-serif;
}

.description {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: gray;
  position: relative;
  left: 34px; /* Ensures the description is left-aligned */
}

/* navigation tabs */
.tabs-container {
  display: flex;
  justify-content: space-around; /* Even spacing for tabs */
  align-items: center;
  background-color: #0a2540; /* Matches the topbar */
  padding: 10px 0;
  margin-top: 20px; /* Adds space from the cards */
  border-radius: 10px; /* Rounds the corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
  width: 40%;
  margin-left: 2rem;
}

.tab {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab:hover {
  background-color: #cbcccf; /* Subtle hover effect */
  color: #0a2540; /* Text contrast on hover */
  border-radius: 5px;
}

.tab.active {
  background-color: white;
  color: #0a2540;
  border-radius: 5px;
}

/* SEARCH BAR */
.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 20px auto; /* Center horizontally */
  margin-left: 2rem;
  border: 2px solid #cbcccf; /* Neutral border */
  border-radius: 8px; /* Rounded edges */
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container:hover {
  border-color: #0a2540; /* Glow effect */
  box-shadow: 0 0 2px #0a2540;
}

.search-container:focus-within {
  border-color: #0a2540; /* Active border color */
  box-shadow: 0 0 12px #0a2540; /* Persistent glow */
}

.search-input {
  flex: 1; /* Takes up remaining space */
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  color: #0a2540;
}

.search-input::placeholder {
  color: #696a6b;
}

.search-button {
  font-size: 20px;
  background-color: #ffffff; /* Matches theme */
  color: #0a2540;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0a2540; /* Lighter background on hover */
  color: #ffffff; /* Icon contrast on hover */
}

/* Container for the buttons */
.button-container {
  display: flex;
  justify-content: flex-start; /* Aligns buttons to the left */
  gap: 20px; /* Adds space between buttons */
  margin-top: -60px; /* Optional: adds space above the buttons */
  width: 100%; /* Makes the container take full width */
  margin-left: 54rem;
}

/* STARTUP BUTTON */
.add-startup-button {
  background-color: #0a2540; /* Same theme as search button */
  color: white;
  border: none;
  display: flex;
  align-items: center;
  padding: 14px 26px;
  border-radius: 4px; /* Rounded edges */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-startup-button:hover {
  background-color: #cbcccf; /* Lighter background on hover */
  color: #0a2540; /* Icon contrast on hover */
}

.add-startup-button svg {
  margin-right: 8px; /* Space between icon and text */
}

/* IMPORT BUTTON */
.import-button {
  background-color: #0a2540; /* Same theme as search button */
  color: white;
  border: none;
  display: flex;
  align-items: center;
  padding: 14px 26px;
  border-radius: 4px; /* Rounded edges */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.import-button:hover {
  background-color: #cbcccf; /* Lighter background on hover */
  color: #0a2540; /* Icon contrast on hover */
}

.import-button svg {
  margin-right: 8px; /* Space between icon and text */
}

/* EXPORT BUTTON */
.export-button {
  background-color: #0a2540; /* Same theme as search button */
  color: white;
  border: none;
  display: flex;
  align-items: center;
  padding: 14px 26px;
  border-radius: 4px; /* Rounded edges */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.export-button:hover {
  background-color: #cbcccf; /* Lighter background on hover */
  color: #0a2540; /* Icon contrast on hover */
}

.export-button svg {
  margin-right: 8px; /* Space between icon and text */
}

/* Table */
.table-wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: auto; /* allows horizontal scrolling within the table container*/
  margin: 0 auto;
  margin-bottom: 2rem;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
}

.startup-table {
  width: 90%; /* Makes the table width 90% of the container */
  /* max-width: 1200px; */ /* Optional: Set a max-width if you want to limit it */
  margin: 0 auto; /* Centers the table and adds equal margins on both sides */
  border-collapse: collapse;
  margin-top: 50px;
  box-sizing: border-box;
  border-radius: 5px;
}

.startup-table th,
.startup-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc; /* Thin line between rows */
}

.startup-table th {
  background-color: #f4f4f4;
}

.startup-table .icon:last-child {
  margin-left: 38px;
}

/* Modal Overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  position: relative;
  border: 2px solid #e5e7eb;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #666;
  transition: color 0.2s ease;
}

.close-button:hover {
  color: #333;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.form-field select {
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  flex-grow: 1;
}

.form-field select:focus {
  outline: none;
  border-color: #0a2540;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

.form-field select:hover {
  border-color: #9ca3af;
}

.form-field label {
  font-weight: 500;
  color: #4b5563;
  width: 150px;
}

.form-field input {
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  flex-grow: 1;
}

.form-field input:focus {
  outline: none;
  border-color: #0a2540;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

.form-field input:hover {
  border-color: #9ca3af;
}

.submit-button {
  margin-top: 1rem;
  padding: 0.6rem;
  background-color: #0a2540;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 6rem;
  margin: 0 auto;
}

.submit-button:hover {
  background-color: #0d3761;
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.4);
}

@media (max-width: 640px) {
  .modal-content {
    margin: 1rem;
    padding: 1.5rem;
  }

  .form-field {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-field label {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .form-field input {
    padding: 0.75rem;
  }
}

/* Responsive adjustments */
@media (max-width: 640px) {
  .modal-container {
    width: 95%;
    padding: 20px;
  }

  .modal-title {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }

  .form-group input {
    padding: 10px;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .topbar {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align left for smaller screens */
    padding: 10px 15px;
  }

  .title {
    font-size: 16px;
    margin-bottom: 5px; /* Add space between the title and the div */
    margin-left: 0; /* Reset margin-left for better alignment */
    margin-right: 0; /* Reset margin-right for better alignment */
  }

  .round-indicator {
    font-size: 12px;
    padding: 6px 12px;
    margin-right: 0; /* Ensure it's aligned well */
  }

  .startup-table th,
  .startup-table td {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 14px; /* Smaller title for very small screens */
  }

  .round-indicator {
    font-size: 10px;
    padding: 4px 8px;
  }
}
